/*font open suns*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*font nunito*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: 'Nunito';
}

.errorpage-div {
  position: absolute;
  left: 50%;
  top: 45%;
  color: white;
  font-size: 30px;
  transform: translate(-50%);
}

.errorpage-div p {
  text-decoration: underline;
  font-size: 28px;
}

.errorpage {
  background: #191919;
  min-height: 100vh;
}

.home-h {
  font-size: 25px;
  font-weight: 800;
  color: white;
  cursor: pointer;
}

.home-header {
  background: #7025FB;
  padding: 22px 45px 25px 45px;
}

.home-div, .pinfo-div {
  display: flex;
}


.home-left, .pinfo-left {
  background-image: url('./assets/landing.png');
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 48vw;
}

.pinfo-left {
  background-image: url('./assets/chess-pic.png');
  background-position: 100% -70%;
}

.home-right, .pinfo-right {
  min-height: 100vh;
  background: #FD5334;
  width: 52vw;
}

.pinfo-right {
  background: #fff;
}

.home-intro {
  margin-left: 100px;
  margin-top: 250px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 109px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.home-text-span {
  font-weight: 700;
  margin-left: 5px;
  vertical-align: middle;
  font-size: 20px;
  color: #212529;
}

.home-btn {
  margin-left: 85px;
  margin-top: 102px;
}

.home-btn button {
  width: 191px;
  height: 53px;
  padding: 13px 24px;
  background: #212529;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-family: "Open Sans";
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.home-btn button:hover, .pinfo-buttons button:hover {
  opacity: 0.95;
  transform: scale(1.03);
  transition: 0.2s;
}

.pinfo-intro {
  font-size: 26px;
  margin-top: 244px;
  margin-left: 132px;
}

.pinfo-intro {
  font-family: 'Nunito';
  font-style: italic;
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 50px;
}

.pinfo-intro-author {
  color: #E5E6E8;
  font-size: 24px;
  margin-top: 25px;
  font-weight: 500;
}

.pinfo-h {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 17px;
  color: #212529;
}

.pinfo-right-header {
  padding: 29px 45px 27px 45px;
  border-bottom: 1px solid;
  border-color: rgba(200, 200, 200, 0.9);
}

.wizard-div {
  margin-left: 60px;
  margin-top: 60px;
  cursor: text;
  width: fit-content;
}

.wizard-img {
  pointer-events: none;
  user-select: none;
}


.wizard-div {
  margin-left: -30px;
  display: flex;
}

.current {
  background: #E9FAF1;
  font-weight: 700;
}

.not-current {
  background: #F5F5F5;
  color: #95939A;
}

.wizard-div span {
  font-family: 'Open Sans';
  font-size: 16px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 15px;
}

.exp-rect, .pinfo-rect {
  border: 1px solid #E5E6E8;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-left: 68%;
  transform: translateX(-50%);
  border-radius: 8px;
}

.wizard-hr {
  border-bottom: 1px solid #B9B4C3;
  width: 200px;
  height: 0px;
  margin-right: -130px;
  margin-top: 20px;
  margin-left: -56px;
  display: inline;
}

.pinfo-form-header {
  margin-top: 80px;
  margin-left: 55px;
}

.pinfo-form-h h1 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 32px;
}

.pinfo-form-h p {
  margin-top: 10px;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #95939A;
}

.pinfo-form {
  margin-top: 35px;

}

.pinfo-form input {
  font-family: 'Open Sans';
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 10px;
  background: white;
  width: 750px;
  min-height: 50px;
  margin-top: 30px;
  color: #212529;
  border-bottom: 1px solid #ccc;
}

.pinfo-form input:focus::placeholder {
  opacity: 0;
}

.pinfo-form input:focus{
  background: #eee;
}

.pinfo-buttons button {
  width: 191px;
  height: 53px;
  padding: 13px 24px;
  border-radius: 8px;
  font-size: 20px;
  font-family: "Open Sans";
  justify-content: center;
  display: flex;
  cursor: pointer;
}


.pinfo-buttons {
  display: flex;
  margin-top: 80px;
  flex-direction: row;
  justify-content: space-between;
}

.btn-back {
  max-width: 93px;
  background: white;
  max-height: 53px;
  border: 1px solid #212529;
  color: #212529;
}

.btn-next {
  margin-right: 180px;
  border: none;
  background: #212529;
  max-width: 128px;
  max-height: 53px;
}

.input-done {
  display: none;
  margin-left: -40px;
}








