/*font open suns*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap');

/*font nunito*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: 'Nunito';
}

.errorpage-div {
  position: absolute;
  left: 50%;
  top: 45%;
  color: white;
  font-size: 30px;
  transform: translate(-50%);
}

.errorpage-div p {
  text-decoration: underline;
  font-size: 28px;
}

.errorpage {
  background: #191919;
  min-height: 100vh;
}

.home-h {
  font-size: 25px;
  font-weight: 800;
  color: white;
  cursor: pointer;
}

.home-header {
  background: #7025FB;
  padding: 22px 45px 25px 45px;
}

.home-div, .pinfo-div {
  display: flex;
}


.home-left, .pinfo-left {
  background-image: url('./assets/landing.png');
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 48vw;
}

.pinfo-left {
  background-image: url('./assets/chess-pic.png');
  background-position: 100% -70%;
}

.home-right, .pinfo-right {
  min-height: 100vh;
  background: #FD5334;
  width: 52vw;
}

.pinfo-right {
  background: #fff;
}

.home-intro {
  margin-left: 100px;
  margin-top: 265px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 109px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.home-text-span {
  font-weight: 700;
  margin-left: 5px;
  vertical-align: middle;
  font-size: 20px;
  color: #212529;
}

.home-btn {
  margin-left: 85px;
  margin-top: 102px;
}

.home-btn button {
  width: 191px;
  height: 53px;
  padding: 13px 24px;
  background: #212529;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-family: "Open Sans";
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.home-btn button:hover {
  opacity: 0.9;
  transition: 0.2s;
}

.pinfo-intro {
  font-size: 26px;
  margin-top: 244px;
  margin-left: 132px;
}

.pinfo-intro {
  font-family: 'Nunito';
  font-style: italic;
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 50px;
}

.pinfo-intro-author {
  color: #E5E6E8;
  font-size: 24px;
  margin-top: 25px;
  font-weight: 500;
}

.pinfo-h {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 17px;
  color: #212529;
}

.pinfo-right-header {
  padding: 29px 45px 27px 45px;
  border-bottom: 1px solid;
  border-color: rgba(200, 200, 200, 0.9);
}

.wizard-div {
  margin-left: 60px;
  margin-top: 100px;
  cursor: text;
  width: fit-content;
}

.wizard-img {
  pointer-events: none;
  user-select: none;
}






